#tasks-table tbody td .cell-icon
{
    visibility: hidden;

    cursor: pointer;
}

#tasks-table tbody td .change-order
{
    margin-right: 5px;

    cursor: move;
}

#tasks-table tbody td .edit-selector
{
    float: right;
}

#tasks-table tbody tr:hover .cell-icon
{
    visibility: visible;
}

#tasks-table tbody .selector
{
    cursor: pointer;
}

#tasks-table tbody td.selector input
{
    width: 100%;
    min-width: 300px;
}

#tasks-table tbody td.wait input
{
    width: 80px;
}

#tasks-table tbody td.data input,
#tasks-table tbody td.memo input
{
    width: 150px;
}

#tasks-table tbody td.selector input,
#tasks-table tbody td.data input,
#tasks-table tbody td.wait input,
#tasks-table tbody td.memo input
{
    /*font-weight: bold;*/
    cursor: pointer;

    /*border-width: 0;*/
    border-color: transparent;
    box-shadow: inset 0 0 0;
}

#tasks-table tbody td:hover input
{
    /*border-width: 1px;*/
    border-color: #ccc;
}

#tasks-table tbody td input:focus
{
    font-weight: normal;

    cursor: auto;

    /*border-width: 1px;*/
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#tasks-table tbody tr.sortable-placeholder
{
    border: 2px dashed #337ab7;
}
#tasks-table tbody tr.sortable-placeholder td
{
    border-width: 0;
}
