<!DOCTYPE html>
<html ng-app="extApp">

<head>
    <title>Bring me there options</title>
    <link href="css/lib/normalize.css" rel="stylesheet">
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/options.css" rel="stylesheet">
    <script src="js/lib/bluebird.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-strap.min.js"></script>
    <script src="js/lib/angular-strap.tpl.min.js"></script>
    <script src="js/common.js"></script>
</head>

<body ng-controller="BodyCtrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/bmt-38.png">
                </a>
                <p class="navbar-text"><b>Bring me there</b></p>

            </div>
        </div>
    </nav>
    <div class="container">
        Clear hash hosts:
        <div ng-repeat="h in view.clearHashHost track by $index">{{$index}}:{{h}}</div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">

                    <button class="btn btn-primary" ng-click="addTask()">Add task</button>
                    <button class="btn btn-danger" ng-click="clearTasks()">Clear task</button>
                </div>
            </div>
        </div>
        <table id="tasks-table" class="table">
            <tr class="header-row">
                <th></th>
                <th>Off</th>
                <th>Selector</th>
                <th>Type</th>
                <th>Data</th>
                <th>Wait(ms)</th>
                <th>Memo</th>
                <th></th>
            </tr>
            <tr class="task-row" ng-repeat="t in view.tasks track by t.id" ng-init="selectorEdit=false" ng-class="{'text-muted': t.disabled}" ng-style="t.disabled ? {opacity: 0.6} : {}" data-task-id="{{t.id}}">
                <td>
                    <small class="text-primary form-control-static">
                        <i class="glyphicon glyphicon-sort change-order cell-icon"></i>
                    </small>
                    <label class="form-control-static">{{$index + 1}}</label>
                </td>
                <td>
                    <input type="checkbox" class="form-control" ng-model="t.disabled" ng-change="taskChanged(t);">
                </td>
                <td class="selector">
                    <input type="text" class="form-control" ng-model="t.selector" ng-blur="taskChanged(t);">
                </td>
                <td>
                    <select class="form-control" ng-disabled="t.disabled" ng-options="type for type in view.types" ng-model="t.type" ng-change="taskChanged(t)"></select>
                </td>
                <td class="data">
                    <input type="text" class="form-control" ng-disabled="t.disabled" ng-model="t.data" ng-blur="taskChanged(t);">
                </td>
                <td class="wait">
                    <input type="number" class="form-control" ng-disabled="t.disabled" ng-model="t.wait" ng-blur="taskChanged(t);">
                </td>
                <td class="memo">
                    <input type="text" class="form-control" ng-disabled="t.disabled" ng-model="t.memo" ng-blur="taskChanged(t);">
                </td>
                <td>
                    <i class="form-control-static glyphicon glyphicon-remove text-danger remove-task cell-icon" ng-click="removeTask(t)"></i>
                </td>
            </tr>
        </table>
    </div>
    <script src="js/options.js"></script>
</body>

</html>
