<!DOCTYPE html>
<html ng-app="extApp">

<head>
    <title>Bring me there options</title>
    <link href="css/lib/normalize.css" rel="stylesheet">
    <link href="css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/options.css" rel="stylesheet">
    <script src="js/lib/bluebird.js"></script>
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-strap.min.js"></script>
    <script src="js/lib/angular-strap.tpl.min.js"></script>
    <script src="js/common.js"></script>
    <style>
    body: {
        padding: 10px;
    }
    </style>
</head>

<body ng-controller="BodyCtrl">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="img/bmt-38.png">
                </a>
                
                <p class="navbar-text"><b>Bring me there</b></p>
            </div>
        </div>
    </nav>
    <div class="container">
        Clear hash hosts:
        <div ng-repeat="h in view.clearHashHost track by $index">{{$index}}:{{h}}</div>
        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-12">
                    <button class="btn btn-primary" ng-click="addTask()">Add task</button>
                    <button class="btn btn-danger" ng-click="clearTasks()">Clear task</button>
                </div>
            </div>
        </div>
        <table id="tbl-tasks" class="table table-striped">
            <tr>
                <th>#</th>
                <th>Selector</th>
                <th>Type</th>
                <th>Wait(ms)</th>
                <th>Memo</th>
                <th></th>
            </tr>
            <tr ng-repeat="t in view.tasks track by t.id" ng-init="selectorEdit=false">
                <td>{{t.id}}</td>
                <td>
                    <label class="form-control-static" ng-show="!selectorEdit">{{t.selector}}</label>
                    <i class="glyphicon glyphicon-pencil cell-icon" ng-click="selectorEdit=true;setFocus($event)" ng-show="!selectorEdit"></i>
                    <input type="text" class="form-control" ng-model="t.selector" ng-show="selectorEdit" ng-blur="selectorEdit=false;taskChanged(t);">
                </td>
                <td>
                    <select class="form-control" ng-options="type for type in view.types" ng-model="t.type" ng-change="taskChanged(t)"></select>
                </td>
                <td>
                    <input type="number" class="wait form-control" ng-model="t.wait" ng-blur="taskChanged(t);">
                </td>
                <td></td>
                <td>
                    <button class="btn btn-danger btn-xs" ng-click="removeTask(t)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>
    <script src="js/options.js"></script>
</body>

</html>
